exportPattern("^[[:alpha:]]+")
export(createLoadingDefaultTopicModelSetting)
export(createTextToVecSetting)
export(createTopicModelingSetting)
export(dictionaryForLanguage)
export(getTopicFromNoteSettings)
export(loadDefaultTopicModel)
